<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.bitlysdowssl-aws.com/wp-content/uploads/2020/03/sala-cine-la-moraleja-696x351.jpg);">
  <div class="container">
    <h1></h1>
    <p class="text-center">In a world of movies where the main star... are you</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
